@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I've created this web application for my own use and to have a project to build with MVC, Razor, Entity Framework bootstrap, and anything else I can work in.</p>
<p>This is a showpiece as well as a vehicle for learning. So it may be ugly and broken from time to time.</p>
