@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>I've created this web application for my own use and to have a project to build with MVC, Razor, Entity Framework, Bootstrap.js, and anything else I can work in.</p>
<p>This is a showpiece as well as a vehicle for learning. So it may be ugly and broken from time to time.</p>
<p>At the core are three entities: <strong>Opportunities</strong>, <strong>Contacts</strong> and <strong>Events</strong> with a many-to-many association between all tables.</p>
<p>But to simplify things, keep in mind there will be lots and lots of Events so we probably don't want to present the list of all of them in the forms of the other two entities.</p>