@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Brian Roys<br />
    Tampa, FL 33618<br />
    <abbr title="Phone">P:</abbr>
    813-340-8027
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:brian@brianroys.com">brian@brianroys.com</a><br />
    <strong>Website:</strong> <a href="http://www.brianroys.com">www.brianroys.com</a>
</address>