USE [master]
GO
/****** Object:  Database [JSS]    Script Date: 6/2/2018 6:33:04 PM ******/
CREATE DATABASE [JSS] ON  PRIMARY 
( NAME = N'JSS', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\JSS.mdf' , SIZE = 2048KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'JSS_log', FILENAME = N'C:\Program Files (x86)\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\JSS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
-- ALTER DATABASE [JSS] SET COMPATIBILITY_LEVEL = 90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [JSS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [JSS]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](45) NULL,
	[Phone] [varchar](45) NULL,
	[EMailAddress] [varchar](256) NULL,
	[AgencyName] [varchar](45) NULL,
	[PhysicalAddress] [varchar](256) NULL,
	[URL] [varchar](45) NULL,
	[Notes] [varchar](1024) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [pkContact] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Event]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Event](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](50) NULL,
	[Type] [int] NULL,
	[Date] [datetime] NULL,
	[Description] [varchar](1024) NULL,
	[Results] [varchar](1024) NULL,
 CONSTRAINT [pkEvent] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventToContact]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventToContact](
	[EventId] [int] NOT NULL,
	[ContactId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EventId] ASC,
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EventType]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EventType](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Type] [varchar](25) NOT NULL,
 CONSTRAINT [PK_EventType] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Opp]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Opp](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[Name] [varchar](45) NULL,
	[Description] [varchar](1024) NULL,
	[DateOpened] [datetime] NULL,
	[Status] [int] NOT NULL,
	[Location] [varchar](256) NULL,
	[IsActive] [bit] NOT NULL,
	[Rate] [varchar](45) NULL,
	[HasBeenReported] [bit] NOT NULL,
 CONSTRAINT [pkOpp] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OppStatus]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OppStatus](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Status] [varchar](25) NOT NULL,
 CONSTRAINT [PK_OppStatus] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OppToContact]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OppToContact](
	[OppId] [int] NOT NULL,
	[ContactId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OppId] ASC,
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OppToEvent]    Script Date: 6/2/2018 6:33:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OppToEvent](
	[OppId] [int] NOT NULL,
	[EventId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OppId] ASC,
	[EventId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__Name__286302EC]  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__Phone__29572725]  DEFAULT (NULL) FOR [Phone]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__EMailAd__2A4B4B5E]  DEFAULT (NULL) FOR [EMailAddress]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__AgencyN__2B3F6F97]  DEFAULT (NULL) FOR [AgencyName]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__Physica__2C3393D0]  DEFAULT (NULL) FOR [PhysicalAddress]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__URL__2D27B809]  DEFAULT (NULL) FOR [URL]
GO
ALTER TABLE [dbo].[Contact] ADD  CONSTRAINT [DF__contact__Notes__2E1BDC42]  DEFAULT (NULL) FOR [Notes]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF__event__Type__31EC6D26]  DEFAULT (NULL) FOR [Type]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF__event__Date__32E0915F]  DEFAULT (NULL) FOR [Date]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF__event__Descripti__33D4B598]  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Event] ADD  CONSTRAINT [DF__event__Results__34C8D9D1]  DEFAULT (NULL) FOR [Results]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__ShopName__398D8EEE]  DEFAULT (NULL) FOR [Name]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__Description__3A81B327]  DEFAULT (NULL) FOR [Description]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__Status__3B75D760]  DEFAULT (NULL) FOR [Status]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__Location__3C69FB99]  DEFAULT (NULL) FOR [Location]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__IsClosed__3D5E1FD2]  DEFAULT (NULL) FOR [IsActive]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__Rate__3E52440B]  DEFAULT (NULL) FOR [Rate]
GO
ALTER TABLE [dbo].[Opp] ADD  CONSTRAINT [DF__opp__HasBeenRepo__3F466844]  DEFAULT (NULL) FOR [HasBeenReported]
GO
ALTER TABLE [dbo].[Event]  WITH CHECK ADD  CONSTRAINT [fkEvent_EventType] FOREIGN KEY([Type])
REFERENCES [dbo].[EventType] ([Id])
GO
ALTER TABLE [dbo].[Event] CHECK CONSTRAINT [fkEvent_EventType]
GO
ALTER TABLE [dbo].[EventToContact]  WITH CHECK ADD  CONSTRAINT [fkEvent2Contact_Contact] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contact] ([Id])
GO
ALTER TABLE [dbo].[EventToContact] CHECK CONSTRAINT [fkEvent2Contact_Contact]
GO
ALTER TABLE [dbo].[EventToContact]  WITH CHECK ADD  CONSTRAINT [fkEvent2Contact_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[EventToContact] CHECK CONSTRAINT [fkEvent2Contact_Event]
GO
ALTER TABLE [dbo].[Opp]  WITH CHECK ADD  CONSTRAINT [fkOpp_OppStatus] FOREIGN KEY([Status])
REFERENCES [dbo].[OppStatus] ([Id])
GO
ALTER TABLE [dbo].[Opp] CHECK CONSTRAINT [fkOpp_OppStatus]
GO
ALTER TABLE [dbo].[OppToContact]  WITH CHECK ADD  CONSTRAINT [fkOpp2Contact_Contact] FOREIGN KEY([ContactId])
REFERENCES [dbo].[Contact] ([Id])
GO
ALTER TABLE [dbo].[OppToContact] CHECK CONSTRAINT [fkOpp2Contact_Contact]
GO
ALTER TABLE [dbo].[OppToContact]  WITH CHECK ADD  CONSTRAINT [fkOpp2Contact_Opp] FOREIGN KEY([OppId])
REFERENCES [dbo].[Opp] ([Id])
GO
ALTER TABLE [dbo].[OppToContact] CHECK CONSTRAINT [fkOpp2Contact_Opp]
GO
ALTER TABLE [dbo].[OppToEvent]  WITH CHECK ADD  CONSTRAINT [fkOpp2Event_Event] FOREIGN KEY([EventId])
REFERENCES [dbo].[Event] ([Id])
GO
ALTER TABLE [dbo].[OppToEvent] CHECK CONSTRAINT [fkOpp2Event_Event]
GO
ALTER TABLE [dbo].[OppToEvent]  WITH CHECK ADD  CONSTRAINT [fkOpp2Event_Opp] FOREIGN KEY([OppId])
REFERENCES [dbo].[Opp] ([Id])
GO
ALTER TABLE [dbo].[OppToEvent] CHECK CONSTRAINT [fkOpp2Event_Opp]
GO
USE [master]
GO
